.new-quotation-container {
    margin:15px;
    overflow-y: none;
}

.btn {
    background-color: rgb(190, 64, 64);
    color:white;
    height: 37px;
    margin-top: 28px;
    margin-left: 20px;
}

input, label {
    display:block;
}

hr {
    margin-top: 1px;
    margin-bottom: 16px;
    border: 1px solid;
}

.section-title {
    margin-top: 16px;
    font-size: larger;
}

.price {
    margin-top: 35px;
    font-size: large;
}

.total-price {

}


