body {
    background-color: #8d1818;
    margin-top: -70px;
    margin-left: 200px;
  }

.box{
  width: 800px;
  height: 200px; 
  margin-top: 50px;  
  margin: 20px auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}