.btn {
    background-color: rgb(190, 64, 64);
    color:white;
    height: 37px;
    margin: 20px;
    display: flex;
    -ms-flex-align: end;
}

p {
    border: 1px solid;
    margin:none;
    background-color: #343a40;
    color: white;
    font-size: larger;
}

.items-row:hover {
    transition: 1s;
    background-color: white;
    color: #343a40;
}

section {
    margin:none;
}

.row {
    max-height: 20px;
}

.item {
    cursor: pointer;
}